# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*
.trash/*


# Exclude Day Planner directory placed in vault root
Templates/*



# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*


# Personal things
